<section class="max-w-[280px] flex flex-col gap-4 rounded-xl border-2 border-slate-200 pb-4">
  <div class="p-2 bg-slate-100 h-40 flex justify-center items-center rounded-t-xl ">
    <img src="../../../assets/products/Coxinha.png" alt="Coxinha" class="h-full" />
  </div>
  <div class="grid gap-1 pl-2">
    <p class="text-lg font-medium">Coxinha de frango</p>
    <p class="text-lg">{{ 1.29 | currency }}</p>
  </div>
  <!-- DIV Line-->
  <div class="h-1 border-solid w-full bg-pink-400"></div>
  <!-- DIV Line-->

  <button type="button" class="p-2 w-fit rounded-xl border bg-pink-400 transition-all hover:bg-pink-500 focus:bg-pink-500 ml-2">
    Comprar agora
  </button>
</section>
